.vis-label {
  font-weight: bold;
}

.vis-item {
  border-width: 0 !important;
  color: white !important;
}

.vis-item.vis-background.orange {
  background: #FFE4DA;
  color: #5383B8 !important;
}

.vis-item.vis-background.camptocamp {
  background-color: #FFF6DA;
  color: #5383B8 !important;
}

.vis-item.vis-background img.logo {
  float: left;
  margin-right: 5px;
  padding: 1px;
  border: 1px solid lightgray;
}

.group-header {
  height: 40px !important;
}

.vis-item.used, .vis-item.used a, li.used {
  background-color: #D9EDF7;
  color: #2C4B6C !important;
}

.vis-item.implemented, .vis-item.implemented a.details-toggle, li.implemented {
  background-color: #A7CAE3;
  color: #2C4B6C !important;
}

.vis-item.contributed, .vis-item.contributed a.details-toggle, li.contributed {
  background-color: #649CCA;
  color: white !important;
}

.vis-item.developed, .vis-item.developed a.details-toggle, li.developed {
  background-color: #337AB7;
  color: white !important;
}

img.logo {
  width: 40px;
  vertical-align: middle;
}

img.logo.small {
  width: 25px;
}

img.identity {
  width: 100px;
  padding: 1px;
  border: 1px solid gray;
}

/* legend */
div#legend-col {
  padding: 10px;
}

.legend li, .details-toggle {
  cursor: context-menu;
}

div#legend-col .buttons {
  margin: 0px auto 10px;
  text-align: center;
}

/* Details styling */
.vis-item-content {
  width: 100%;
}

.vis-item-content .details {
  white-space: normal;
  font-size: 80%;
  margin: 5px 0 0 0;
  padding: 5px;
  background: white;
  width: auto;
  color: #2C4B6C;
}

.vis-item-content .details .details-toggle {
  padding: 5px;
}

/* Mobile */
@media (max-width: 1600px) {
  .affix {
    position: static;
  }
}

@media (min-width: 1601px) {
  .affix {
    margin: 100px 20px 0 400px;
  }
}


/* Remove group labels on phones (portrait) */
@media (max-width: 500px) {
  .vis-panel.vis-left {
    display: none;
  }
}

