.vis-item {
  border-width: 0 !important;
  color: white !important;
}

.vis-item.vis-background.orange {
  background: #FFDE94;
  color: #5383B8 !important;
  font-weight: bold !important;
}

.vis-item.vis-background.camptocamp {
  background-color: #FFF094;
  color: #5383B8 !important;
  font-weight: bold !important;
}

.group-header {
  height: 40px !important;
}

.vis-item.used, .vis-item.used a, li.used {
  background-color: #D3E5F9;
  color: #5383B8 !important;
}

.vis-item.implemented, .vis-item.implemented a, li.implemented {
  background-color: #7AA5D6;
  color: white !important;
}

.vis-item.contributed, .vis-item.contributed a, li.contributed {
  background-color: #5383B8;
  color: white !important;
}

.vis-item .vis-item-content .details {
  white-space: normal;
}

img.logo {
  width: 40px;
  vertical-align: middle;
}

img.logo.small {
  width: 25px;
}

.details {
  font-size: 80%;
}

img.identity {
  width: 100px;
  padding: 1px;
  border: 1px solid gray;
}

div#legend-col {
  padding: 10px;
}
